<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
        <input 
        matInput 
        type="text" 
        name="title" 
        [ngModel]="post?post.title:null" 
        required
        placeholder="Title" 
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Title not valid</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea 
        matInput 
        rows="3" 
        name="content" 
        [ngModel]="post?post.content:null" 
        required 
        placeholder="Content"
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Content not valid</mat-error>
    </mat-form-field>
    <button mat-raised-button
    color="accent" type="submit">Save post</button>
</form>
</mat-card>